* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* INPUTS */
.inputs {
  display: flex;
  justify-content: center;
}

#toDoIn {
  width: 80%;
  height: 40px;
  margin-top: 120px;
  text-align: center;
  border-radius: 1.5rem;
  border: 0;
  border: 2px solid rgb(98, 152, 170);
  font-size: 2rem;
  padding: 2rem;
}

  /* OUTPUTS */
.list-group {
  list-style-type: none;
  margin-top: 15rem;
}

.list-group > li {
  border: 1px solid gray;
  padding: 1rem 2rem;
  display: flex;
  font-size: 1.5rem;
}

.list-content {
  width: 80%;
}

.eliminate {
  text-align: right;
  width: 20%;
  font-size: 1rem;
  color: red;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}